*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #9ba2ff;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    background-color: #a7abdd;
    color: #3c407f;
}
#Temperature{
    color: rgb(137, 108, 55);
    font-size: 44px;
}
button{
    background-color: #5e63af;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-top: 1.5rem;
}